.header {
    &__nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        background: $mainBlue;
    }
    &__link,
    &__logo {
        padding: 0 30px;
    }
    &__anchor {
        text-decoration: none;
        color: $textColor;
        @include headingSize(20);
    }
}

.header__link--active {
    color: white;
}

.header--large {
    background: $mainBlue;
}

.header-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: space-around;
}

.header-image-container {
    height: 80vh;
    .header__image {
        max-height: 100%;
        position: relative;
        top: 50px;
        box-shadow: 20px 20px white;
    }
}

.test {
    height: 100%;
}

.header__title {
    display: flex;
    position: relative;
    .title__one--large {
        @include headingSize(160);
    }
    .header__circle-text {
        position: absolute;
        right: -60px;
        top: 90px;
    }
}