.header {
    &__nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        background: $mainBlue;
    }
    &__link,
    &__logo {
        padding: 0 30px;
    }
    &__anchor {
        text-decoration: none;
        color: $textColor;
        @include headingSize(20);
    }
}

.header__link--active {
    color: white;
}

.header--large {
    background: $mainBlue;
    height: 90vh;
}

.header__home-container {
    height: 90vh;
}

.header-container {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 100%;
}

.header-container__image {
    width: 35%;
    .header__image {
        max-width: 100%;
        box-shadow: 20px 20px white;
    }
}

.header-container__title {
    justify-content: center;
    position: relative;
    .title__one--large {
        @include headingSize(160);
        margin: 0;
    }
}

.header-container__title::after {
    content: '';
    background: url(../assets/circle-text.png);
    width: 182px;
    height: 172px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: -60px;
    bottom: 90px;
}