.about {
    background: $whiteShade;
    &__container {
        padding: 100px 0 100px 50%;
        width: 100%;
        margin: 0;
    }
}

.about__hero-image {
    background-image: url(../assets/home-image-2.jpg);
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.info {
    background: $whiteShade;
    padding: 100px 0;
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    &__section {
        width: 50%;
        display: flex;
    }
    &__icon {
        background: $mainBlue;
        font-size: 3.2rem;
        display: block;
        padding: 20px;
        border-radius: 50%;
    }
    &__copy {
        padding: 10px 20px;
    }
}

// Personal styles 

.personal__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.personal__container-half {
    display: flex;
}

.personal__container--top {
    background: linear-gradient(to right, $lightBlue, $lightBlue 51%, transparent 51%, transparent 100%);
    background-size: 100% 90%;
    background-repeat: no-repeat;
    position: relative;
    bottom: 30px;
}

.personal__item-1 {
    // position: relative;
    // bottom: 30px;
}

.personal__container--bottom {
    background: linear-gradient(to right, transparent, transparent 51%, $mainBlue 51%, $mainBlue 100%);
    background-size: 100% 90%;
    background-repeat: no-repeat;
    position: relative;
    top: 70px;
}

.personal__item {
    width: 50%;
    .personal__image {
        max-width: 100%;

    }
}

.text-container--top {
    padding: 100px 0 0 100px;
    position: relative;
    top: 30px;
}

.text-container--bottom {
    padding: 0 100px 100px 0;
    position: relative;
    bottom: 70px;
}

.personal__image--top {
    position: relative;
    top: 15px;
    overflow: visible;
}

.personal__image--bottom {
    position: relative;
    bottom: 15px;
}

.personal__btn--right {
    text-align: right;
}

// Journey Styles

.journey {
    padding: 150px 0 100px 0;
    background: $whiteShade;
    &__container {
        display: flex;
    }
    &__image-container {
        width: 25%;
        margin-top: 15px;
    }
    &__image {
        max-width: 100%;
        box-shadow: 20px 20px $darkBlue;
    }
    &__text-container {
        width: 75%;
        padding-left: 100px;
    }
}

// Gallery styles

.gallery {
    padding: 100px 0;
    &__container {
        display: flex;
    }
    &__item {
        width: calc(100% / 3);
    }
    &__image {
        max-width: 100%;
        display: block;
    }
}

.gallery__item--middle {
    margin: 0 25px;
}