.about {
    background: $whiteShade;
    &__container {
        padding: 100px 0 100px 50%;
        width: 100%;
        margin: 0;
    }
}

.about__hero-image {
    background-image: url(../assets/home-image-2.jpg);
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.info {
    background: $whiteShade;
    padding: 100px 0;
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    &__section {
        width: 50%;
        display: flex;
    }
    &__icon {
        background: $mainBlue;
        font-size: 3.2rem;
        display: block;
        padding: 20px;
        border-radius: 50%;
    }
    &__copy {
        padding: 10px 20px;
    }
    &__link {
        text-decoration: none;
    }
}

.info__link:hover .title__three {
    color: $accentColor;
}

// Personal section styles 

.personal__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &--half {
        display: flex;
        // justify-content: space-between;
    }
}

.personal__container-top--half {
    align-items: center;
    position: relative;
    bottom: 50px;
}

.personal__container-bottom--half {
    position: relative;
    top: 50px;
    align-items: center;
}

.personal__item {
    width: 50%;
    .personal__image {
        max-width: 100%;
        display: block;
    }
}

.personal__image--top {
    box-shadow: 20px 20px $lightBlue, -200px 20px $lightBlue, -500px 20px $lightBlue;
}

.text-container--top {
    margin: 50px 0 0 100px;
}

.personal__image--bottom {
    box-shadow: 20px 20px $mainBlue, 200px 20px $mainBlue, 500px 20px $mainBlue;
}

.text-container--bottom {
    padding: 0 100px 100px 0;
    display: flex;
    flex-direction: column;
    .personal__btn--right {
        align-self: flex-end;
    }
}

// Journey Styles

.journey {
    padding: 150px 0 100px 0;
    background: $whiteShade;
    &__container {
        display: flex;
    }
    &__image-container {
        width: 25%;
        margin-top: 15px;
    }
    &__image {
        max-width: 100%;
        box-shadow: 20px 20px $darkBlue;
    }
    &__text-container {
        width: 75%;
        padding-left: 100px;
    }
}

// Gallery styles

.gallery {
    padding: 100px 0;
    &__container {
        display: flex;
    }
    &__item {
        width: calc(100% / 3);
    }
    &__image {
        max-width: 100%;
        display: block;
    }
}

.gallery__item--middle {
    margin: 0 25px;
}