@media (max-width: 1000px) {
    
    // Index header styles
    .header-container {
        display: block;
    }

    .header-container__image {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__home-container {
        position: relative;
    }

    .header-container__title {
        position: absolute;
        bottom: -50px;
        right: 100px;
    }

    .header-container__title .title__one--large {
        @include headingSize(130);
    }

    .header-container__title::after {
        bottom: 50px;
        right: -65px;
    }

    // Index about styles
    
    .about__container {
        padding-left: 0;
        text-align: center;
    }

    // Blog & Contact main styles
    
    .main-container {
        flex-direction: column-reverse;
    }

    .aside {
        width: 100%;
        display: flex;
        &-section {
            margin-top: 25px;
            &__about {
            margin-right: 25px;
            display: flex;
            width: 60%;
            }
            &__image-container {
                width: 33.3%;
                margin-right: 20px;
            }
            &__content {
                width: 66.6%;
            }
            &__recent-posts {
                width: 40%;
            }
        }
    }

    .aside .title__four {
        margin: 0 0 10px 0;
    }

    .main__content {
        width: 100%;
        margin: 0;
    }

    .aside-section__contact {
        width: 100%;
        .social {
            justify-content: flex-start;
            &__link {
                padding: 0 40px 10px 0;
            }
        }
    }

}

@media (max-width: 920px) {
    
    // Index info styles
    .info__section {
        width: 100%;
    }

    // Index personal section styles

    .personal__container--half {
        flex-direction: column;
        justify-content: center;
    }

    .personal__image-container {
        position: static;
        display: flex;
        justify-content: center;
    }

    .personal__container-bottom--half {
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .personal__item {
        width: 100%;
    }

    .text-container {
        margin: 0;
        padding: 50px 0;
        text-align: center;
    }

    .text-container--bottom .personal__btn--right {
        align-self: center;
    }

    // Blog & Contact header styles

    .header__blog,
    .header__contact {
        height: 300px;
    }
    
    // Blog & Contact main styles

    .body-font,
    .recent-post__link {
        font-size: 1.8rem;
    }

    .aside-section__about {
        width: 50%;
    }

    .aside-section__image-container {
        display: none;
    }

    .aside-section__content {
        width: 100%;
    }

    .aside-section__recent-posts {
        width: 50%;
    }
}

@media (max-width: 760px) {
    .wrapper {
        width: 90%;
    }

    // Index header styles

    .header-container__image {
        margin: 0 auto;
    }

    // Blog & Contact form styles

    .form-info {
        flex-direction: column;
    }

    .form__name,
    .form__email {
        width: 100%;
    }
}

@media (max-width: 670px) {
    // Global styles
    .title__two {
        @include headingSize(38);
        margin: 0;
    }

    .title__three {
        @include headingSize(30);
        margin: 0;
    }

    .title__four {
        @include headingSize(22);
        margin: 0;
    }

    .body-font {
        @include fontSize(18);
        padding-bottom: 20px;
    }

    // Global nav styles
    .header__nav {
        position: relative;
        padding-top: 60px;
    }

    .header__logo {
        align-self: flex-start;
        position: absolute;
        top: 0;
    }

    .about__container, 
    .info, 
    .gallery {
        padding: 50px 0;
    }

    // Index journey section styles
    .journey {
        padding: 50px 0;
    }

    .journey__container {
        flex-direction: column;
    }

    .journey__image-container,
    .journey__text-container {
        width: 100%;
        padding: 0;
    }

    .journey__text-container {
        text-align: center;
    }

    .journey__image-container {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    // Index gallery styles

    .gallery__container {
        flex-direction: column;
        margin: 0 auto;
    }

    .gallery__item--middle {
        margin: 25px 0;
        display: none;
    }

    .gallery__item {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 612px) {
    
    // Index header styles
    .header-container__title {
        bottom: -25px;
        right: 25%;
    }
    
    .header-container__title .title__one--large {
        @include headingSize(100);
    }

    .header-container__title::after {
        bottom: 30px;
        right: -65px;
    }

    // Index about styles
    .about__hero-image {
        height: 30vh;
    }

    // Index info styles
    .info__section {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    // Blog & Contact aside styles
    
    .aside {
        flex-direction: column;
    }

    .aside-section__about,
    .aside-section__recent-posts {
        width: 100%;
    }

    .recent-post {
        display: flex;
        flex-wrap: wrap;
        .recent-post__item {
            width: 50%;
            padding: 0;
        }
    }
}

@media (max-width: 525px) {
    // Blog & Contact header styles
    .header__blog,
    .header__contact {
        background: $mainBlue;
    }

    .header-title {
        @include headingSize(55);
        bottom: -35px;
    }

    .header__link {
        padding: 0 10px;
    }

    // Blog comment styles

    .comment {
        flex-direction: column;
        &__thumb {
        width: 25%;
        margin-bottom: 10px;
        }
        &__copy {
            width: 100%;
            padding-left: 0;
        }
    }

    // Blog recent posts styles
    
    .recent-post {
        flex-direction: column;
        .recent-post__item {
            width: 100%;
        }
    }
}

@media (max-width: 465px) {
    
    // Index header styles
    .header__home-container {
        height: 80vh;
    }

    .header-container__image {
        width: 70%;
    }

    .header-container__title {
        display: none;
    }
}