@media (max-width: 1300px) {
    .header-container__image {
        justify-content: flex-start;
        width: 30%;
        height: 100%;
        padding-bottom: 200px;
    }
}

@media (max-width: 1000px) {
    .header-container__section {
        height: 100%;
        width: 100%;
    }

    .header__image {
        max-width: 50%;
    }

    .header-container__image {
        width: 40%;
    }

    .header-container__title {
        position: absolute;
        bottom: -260px;
    }
    
    .about__container {
        padding-left: 0;
    }
    
    .main-container {
        flex-direction: column-reverse;
    }

    .aside {
        width: 100%;
        display: flex;
        &-section {
            margin-top: 25px;
            &__about {
            margin-right: 25px;
            display: flex;
            width: 60%;
            }
            &__image-container {
                width: 33.3%;
                margin-right: 20px;
            }
            &__content {
                width: 66.6%;
            }
            &__recent-posts {
                width: 40%;
            }
        }
    }

    .aside .title__four {
        margin: 0 0 10px 0;
    }

    .main__content {
        width: 100%;
        margin: 0;
    }

    .aside-section__contact {
        width: 100%;
        .social {
            justify-content: flex-start;
            &__link {
                padding: 0 40px 10px 0;
            }
        }
    }

}

@media (max-width: 920px) {
    .info__section {
        width: 100%;
    }
    
    .header__blog,
    .header__contact {
        height: 300px;
    }
    
    .body-font,
    .recent-post__link {
        font-size: 1.8rem;
    }

    .aside-section__about {
        width: 50%;
    }

    .aside-section__image-container {
        display: none;
    }

    .aside-section__content {
        width: 100%;
    }

    .aside-section__recent-posts {
        width: 50%;
    }
}

@media (max-width: 760px) {
    .wrapper {
        width: 90%;
    }

    .header-container__title .title__one--large {
        @include headingSize(120);
    }

    .header-container__title {
        bottom: -300px;
        right: 100px;
    }

    .header-container__title::after {
        top: 50px;
    }

    .form-info {
        flex-direction: column;
    }

    .form__name,
    .form__email {
        width: 100%;
    }
}

@media (max-width: 670px) {
    .header__nav {
        // flex-direction: column;
        // align-items: flex-end;
        position: relative;
        padding-top: 60px;
    }

    .header-container__title {
        bottom: -282px;
        right: 80px;
    }

    .header__logo {
        align-self: flex-start;
        position: absolute;
        top: 0;
    }

    .journey {
        padding: 50px 0;
    }

    .journey__container {
        flex-direction: column;
        // align-items: center;
    }

    .journey__image-container,
    .journey__text-container {
        width: 100%;
        padding: 0;
    }

    .journey__image-container {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    .gallery__container {
        flex-direction: column;
        margin: 0 auto;
    }

    .gallery__item--middle {
        margin: 25px 0;
    }

    .gallery__item {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 612px) {
    .aside {
        flex-direction: column;
    }

    .aside-section__about,
    .aside-section__recent-posts {
        width: 100%;
    }

    .recent-post {
        display: flex;
        flex-wrap: wrap;
        .recent-post__item {
            width: 50%;
            padding: 0;
        }
    }
}

@media (max-width: 525px) {
    .header-container__title {
        display: none;
    }

    .header-container__image {
        width: 900%;
        // height: 80vh;
        margin: 0 auto;
    }

    .header__image {
        max-width: 100%;
    }

    
    .header__blog,
    .header__contact {
        background: $mainBlue;
    }

    .header-title {
        @include headingSize(55);
        bottom: -35px;
    }

    .header__link {
        padding: 0 10px;
    }

    .comment {
        flex-direction: column;
        &__thumb {
        width: 25%;
        margin-bottom: 10px;
        }
        &__copy {
            width: 100%;
            padding-left: 0;
        }
    }
    
    .recent-post {
        flex-direction: column;
        .recent-post__item {
            width: 100%;
        }
    }
}