article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

.title__one {
  font-size: 80px;
  font-size: 8rem;
  color: #171717;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.title__two {
  font-size: 42px;
  font-size: 4.2rem;
  color: #171717;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0; }

.title__three {
  font-size: 32px;
  font-size: 3.2rem;
  color: #171717;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0; }

.title__four {
  font-size: 24px;
  font-size: 2.4rem;
  color: #171717;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0; }

.body-font {
  font-size: 20px;
  font-size: 2rem;
  color: #171717;
  font-family: "Cabin", sans-serif;
  line-height: 3.2rem;
  padding-bottom: 20px; }

.btn {
  background: #f38d8d;
  text-decoration: none;
  padding: 10px 25px;
  font-size: 20px;
  font-size: 2rem;
  color: #171717;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border: none; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #b9dde7; }

.header__link, .header__logo {
  padding: 0 30px; }

.header__anchor {
  text-decoration: none;
  color: #171717;
  font-size: 20px;
  font-size: 2rem;
  color: #171717;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.header__link--active {
  color: white; }

.header--large {
  background: #b9dde7;
  height: 90vh; }

.header__home-container {
  height: 90vh; }

.header-container {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-height: 100%; }

.header-container__image {
  width: 35%; }
  .header-container__image .header__image {
    max-width: 100%;
    -webkit-box-shadow: 20px 20px white;
    box-shadow: 20px 20px white; }

.header-container__title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .header-container__title .title__one--large {
    font-size: 160px;
    font-size: 16rem;
    color: #171717;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin: 0; }

.header-container__title::after {
  content: '';
  background: url(../assets/circle-text.png);
  width: 182px;
  height: 172px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -60px;
  bottom: 90px; }

.about {
  background: #f6f6f6; }
  .about__container {
    padding: 100px 0 100px 50%;
    width: 100%;
    margin: 0; }

.about__hero-image {
  background-image: url(../assets/home-image-2.jpg);
  background-size: cover;
  height: 50vh;
  width: 100%; }

.info {
  background: #f6f6f6;
  padding: 100px 0; }
  .info__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .info__section {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .info__icon {
    background: #b9dde7;
    font-size: 3.2rem;
    display: block;
    padding: 20px;
    border-radius: 50%; }
  .info__copy {
    padding: 10px 20px; }

.personal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .personal__container--half {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.personal__container-top--half {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  bottom: 50px; }

.personal__container-bottom--half {
  position: relative;
  top: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.personal__item {
  width: 50%; }
  .personal__item .personal__image {
    max-width: 100%;
    display: block; }

.personal__image--top {
  -webkit-box-shadow: 20px 20px #68b0c1, -200px 20px #68b0c1, -500px 20px #68b0c1;
  box-shadow: 20px 20px #68b0c1, -200px 20px #68b0c1, -500px 20px #68b0c1; }

.text-container--top {
  margin: 50px 0 0 100px; }

.personal__image--bottom {
  -webkit-box-shadow: 20px 20px #b9dde7, 200px 20px #b9dde7, 500px 20px #b9dde7;
  box-shadow: 20px 20px #b9dde7, 200px 20px #b9dde7, 500px 20px #b9dde7; }

.text-container--bottom {
  padding: 0 100px 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .text-container--bottom .personal__btn--right {
    -ms-flex-item-align: end;
    align-self: flex-end; }

.journey {
  padding: 150px 0 100px 0;
  background: #f6f6f6; }
  .journey__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .journey__image-container {
    width: 25%;
    margin-top: 15px; }
  .journey__image {
    max-width: 100%;
    -webkit-box-shadow: 20px 20px #227284;
    box-shadow: 20px 20px #227284; }
  .journey__text-container {
    width: 75%;
    padding-left: 100px; }

.gallery {
  padding: 100px 0; }
  .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .gallery__item {
    width: calc(100% / 3); }
  .gallery__image {
    max-width: 100%;
    display: block; }

.gallery__item--middle {
  margin: 0 25px; }

.header {
  position: relative; }

.header__blog {
  background-image: url(../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }

.header-title {
  position: absolute;
  bottom: -50px;
  margin: 0; }

.main {
  background: #f6f6f6; }
  .main .body-font {
    margin: 0; }

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0; }

.aside {
  width: 30%; }
  .aside-section {
    padding: 25px;
    background: white;
    margin-bottom: 25px; }
    .aside-section__image {
      max-width: 100%;
      display: block; }
    .aside-section__link {
      text-decoration: none;
      color: #227284;
      display: inline-block;
      font-weight: bold; }
    .aside-section .body-font {
      padding: 0; }

.aside-section .title__four {
  margin: 15px 0; }

.recent-post {
  padding-left: 25px;
  margin: 0; }
  .recent-post__item {
    line-height: 3.2rem;
    padding-left: 10px; }
  .recent-post__link {
    text-decoration: none;
    color: #171717; }

.main__content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 25px; }
  .main__content .post {
    padding: 10px 25px 50px 25px;
    background: white;
    border-bottom: 5px solid #227284; }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 25px 35px 25px;
  background: white;
  margin: 20px 0; }
  .comment__thumb {
    width: 10%; }
  .comment__photo {
    max-width: 100%;
    display: block; }
  .comment__copy {
    width: 90%;
    padding-left: 25px; }

.comment:nth-child(2) {
  border-bottom: 5px solid #227284; }

.form-item {
  border: none;
  padding: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-size: 2rem;
  color: #171717;
  font-family: "Cabin", sans-serif;
  line-height: 3.2rem; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form__name, .form__email {
    width: calc(50% - 10px); }
  .form__name {
    margin-right: 20px; }
  .form__email {
    padding-right: 0; }
  .form__comment {
    height: 300px; }

.form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__contact {
  background-image: url(../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .social__link {
    text-decoration: none;
    color: #227284;
    font-size: 2.5rem; }

.aside-section__contact .title__four {
  text-transform: lowercase; }

.aside-section__contact .body-font {
  margin: 5px 0; }

.footer {
  background: #171717; }
  .footer__text {
    color: white;
    margin: 0;
    text-align: center;
    padding: 15px 0; }

@media (max-width: 1000px) {
  .header-container {
    display: block; }
  .header-container__image {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__home-container {
    position: relative; }
  .header-container__title {
    position: absolute;
    bottom: -50px;
    right: 100px; }
  .header-container__title .title__one--large {
    font-size: 130px;
    font-size: 13rem;
    color: #171717;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  .header-container__title::after {
    bottom: 50px;
    right: -65px; }
  .about__container {
    padding-left: 0; }
  .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .aside {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .aside-section {
      margin-top: 25px; }
      .aside-section__about {
        margin-right: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 60%; }
      .aside-section__image-container {
        width: 33.3%;
        margin-right: 20px; }
      .aside-section__content {
        width: 66.6%; }
      .aside-section__recent-posts {
        width: 40%; }
  .aside .title__four {
    margin: 0 0 10px 0; }
  .main__content {
    width: 100%;
    margin: 0; }
  .aside-section__contact {
    width: 100%; }
    .aside-section__contact .social {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .aside-section__contact .social__link {
        padding: 0 40px 10px 0; } }

@media (max-width: 920px) {
  .info__section {
    width: 100%; }
  .personal__container--half {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: static;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .personal__container-bottom--half {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .personal__item {
    width: 100%; }
  .text-container {
    margin: 0;
    padding: 50px 0;
    text-align: center; }
  .text-container--bottom .personal__btn--right {
    -ms-flex-item-align: center;
    align-self: center; }
  .header__blog,
  .header__contact {
    height: 300px; }
  .body-font,
  .recent-post__link {
    font-size: 1.8rem; }
  .aside-section__about {
    width: 50%; }
  .aside-section__image-container {
    display: none; }
  .aside-section__content {
    width: 100%; }
  .aside-section__recent-posts {
    width: 50%; } }

@media (max-width: 760px) {
  .wrapper {
    width: 90%; }
  .header-container__image {
    margin: 0 auto; }
  .form-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .form__name,
  .form__email {
    width: 100%; } }

@media (max-width: 670px) {
  .header__nav {
    position: relative;
    padding-top: 60px; }
  .header__logo {
    -ms-flex-item-align: start;
    align-self: flex-start;
    position: absolute;
    top: 0; }
  .journey {
    padding: 50px 0; }
  .journey__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .journey__image-container,
  .journey__text-container {
    width: 100%;
    padding: 0; }
  .journey__text-container {
    text-align: center; }
  .journey__image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 25px; }
  .gallery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto; }
  .gallery__item--middle {
    margin: 25px 0; }
  .gallery__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .gallery__image:hover {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; } }

@media (max-width: 612px) {
  .header-container__title {
    bottom: -25px;
    right: 25%; }
  .header-container__title .title__one--large {
    font-size: 100px;
    font-size: 10rem;
    color: #171717;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  .header-container__title::after {
    bottom: 30px;
    right: -65px; }
  .aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .aside-section__about,
  .aside-section__recent-posts {
    width: 100%; }
  .recent-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .recent-post .recent-post__item {
      width: 50%;
      padding: 0; } }

@media (max-width: 525px) {
  .header__blog,
  .header__contact {
    background: #b9dde7; }
  .header-title {
    font-size: 55px;
    font-size: 5.5rem;
    color: #171717;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    bottom: -35px; }
  .header__link {
    padding: 0 10px; }
  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .comment__thumb {
      width: 25%;
      margin-bottom: 10px; }
    .comment__copy {
      width: 100%;
      padding-left: 0; }
  .recent-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .recent-post .recent-post__item {
      width: 100%; } }

@media (max-width: 465px) {
  .header-container__image {
    width: 70%; }
  .header-container__title {
    display: none; } }
