article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

.title__one {
  font-size: 80px;
  font-size: 8rem;
  color: #171717;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.title__two {
  font-size: 42px;
  font-size: 4.2rem;
  color: #171717;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0; }

.title__three {
  font-size: 32px;
  font-size: 3.2rem;
  color: #171717;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0; }

.title__four {
  font-size: 24px;
  font-size: 2.4rem;
  color: #171717;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.body-font {
  font-size: 20px;
  font-size: 2rem;
  color: #171717;
  font-family: "Cabin", sans-serif;
  line-height: 3.2rem;
  padding-bottom: 20px; }

.btn {
  background: #f38d8d;
  text-decoration: none;
  padding: 10px 25px;
  font-size: 20px;
  font-size: 2rem;
  color: #171717;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.header {
  background: #b9dde7; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px 0 50px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__link, .header__logo {
    padding: 0 30px; }
  .header__anchor {
    text-decoration: none;
    color: #171717;
    font-size: 20px;
    font-size: 2rem;
    color: #171717;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container__image {
    max-height: 100%;
    -webkit-box-shadow: 20px 20px white;
    box-shadow: 20px 20px white;
    display: block; }

.test {
  height: 100%; }

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .header__title .title__one--large {
    font-size: 160px;
    font-size: 16rem;
    color: #171717;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  .header__title .header__circle-text {
    position: absolute;
    right: -60px;
    top: 90px; }

.about {
  background: #f6f6f6; }
  .about__container {
    padding: 100px 0;
    width: 55%; }

.about__hero-image {
  background-image: url(../assets/home-image-2.jpg);
  background-size: cover;
  height: 500px;
  width: 100%; }

.info {
  background: #f6f6f6;
  padding: 100px 0; }
  .info__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .info__section {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .info__icon {
    background: #b9dde7;
    font-size: 3.2rem;
    display: block;
    padding: 20px;
    border-radius: 50%; }
  .info__copy {
    padding: 10px 20px; }

.personal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.personal__item {
  width: 50%; }
  .personal__item .personal__image {
    max-width: 100%; }

.journey {
  padding: 150px 0 100px 0;
  background: #f6f6f6; }
  .journey__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .journey__image-container {
    width: 25%;
    margin-top: 15px; }
  .journey__image {
    max-width: 100%;
    -webkit-box-shadow: 20px 20px #227284;
    box-shadow: 20px 20px #227284; }
  .journey__text-container {
    width: 75%;
    padding-left: 100px; }

.gallery {
  padding: 100px 0; }
  .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .gallery__item {
    width: calc(100% / 3); }
  .gallery__image {
    max-width: 100%;
    margin: 0 25px; }

.footer {
  background: #171717; }
  .footer__text {
    color: white;
    margin: 0;
    text-align: center;
    padding: 15px 0; }
